.login-ui .login-dialog .logo {
    background-image: url('app/ext/gmm/images/LOGO/logo.png');
    -webkit-background-size: 7em auto;
    width: 7em;
    height: 7em;
}

.login-ui .login-dialog {
    max-width: 3.5in;
}
